*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
section:nth-last-of-type(odd), header, footer {
    background-color: rgb(53, 53, 53);
}
section:nth-last-of-type(even) {
    background-color: rgb(48, 46, 53);
}
.wrapper{
    width: 1080px;
    margin: 0 auto;
    padding: 16px;
}
.info{
    
}